/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
body.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  background: #F16D7F;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover, .button:active, .button:focus-visible {
  background: #E05C6E;
}

input::-webkit-input-placeholder {
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
  text-indent: 0;
  -moz-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
  text-indent: 0;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

input::-ms-input-placeholder {
  text-indent: 0;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

input::placeholder {
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: 500px;
}
input:focus::-moz-placeholder {
  text-indent: 500px;
}
input:focus:-ms-input-placeholder {
  text-indent: 500px;
}
input:focus::-ms-input-placeholder {
  text-indent: 500px;
}
input:focus::placeholder {
  text-indent: 500px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 71.25%;
  margin: 0 auto;
}
@media (max-width: 1152px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.checkbox {
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + .checkbox__checkbox-text:before {
  border-color: #F16D7F;
  background: #F16D7F;
}
.checkbox__checkbox-text {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 9px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.checkbox__checkbox-text:before {
  content: "";
  border: 1px solid #EBEBEB;
  width: 12px;
  height: 12px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.checkbox__checkbox-text span {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  color: #6F6E6E;
}

.swiper-container {
  overflow: hidden;
}
.swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.swiper-container.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-container.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__title {
  color: #6F6E6E;
  background-color: #fff;
  cursor: pointer;
}
.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .select__value {
    font-size: 10px;
  }
}
.select__value:before {
  margin-left: 9px;
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 10px;
  height: 5px;
  background: url("../img/select.svg") center/100% no-repeat;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 18px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

.header {
  background: #222222;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px 1fr 40px auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  gap: 40px;
}
@media (max-width: 1152px) {
  .header__container {
    padding: 0 32px;
  }
}
@media (max-width: 767px) {
  .header__container {
    padding: 0 16px;
  }
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.header__btn {
  background: transparent;
}
.header__btn svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__btn:hover svg path, .header__btn:active svg path, .header__btn:focus-visible svg path {
  fill: #F16D7F;
}
.header__input {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  margin-left: 10px;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .header__input {
    max-width: 145px;
  }
}
.header__input--active {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.header__links {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 34px;
}
.header__link svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__link:hover svg path, .header__link:active svg path, .header__link:focus-visible svg path {
  fill: #F16D7F;
}
@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}
.header__link--cart {
  position: relative;
}
.header__link--cart span {
  position: absolute;
  top: -6px;
  right: -9px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #ffffff;
}

.burger-menu__burger {
  width: 100%;
  height: 3px;
  background: #E8E8E8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu__btn {
  width: 32px;
  height: 23px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.burger-menu__btn:before, .burger-menu__btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background: #E8E8E8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu__btn:before {
  top: 0;
}
.burger-menu__btn:after {
  bottom: 0;
}
.burger-menu__btn--active .burger-menu__burger, .burger-menu__btn--active:before, .burger-menu__btn--active:after, .burger-menu__btn:hover .burger-menu__burger, .burger-menu__btn:hover:before, .burger-menu__btn:hover:after, .burger-menu__btn:active .burger-menu__burger, .burger-menu__btn:active:before, .burger-menu__btn:active:after, .burger-menu__btn:focus-visible .burger-menu__burger, .burger-menu__btn:focus-visible:before, .burger-menu__btn:focus-visible:after {
  background: #F16D7F;
}
.burger-menu__btn--active .burger-menu__burger {
  opacity: 0;
}
.burger-menu__btn--active:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
}
.burger-menu__btn--active:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 3px);
}
.burger-menu__nav {
  position: absolute;
  min-width: 232px;
  background: #ffffff;
  padding: 33px 34px;
  height: 100%;
  right: -100%;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  line-height: 1.2em;
}
@media (max-width: 1152px) {
  .burger-menu__nav {
    overflow-y: scroll;
  }
}
.burger-menu__nav-wrapper {
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu__nav-wrapper--active {
  opacity: 1;
  visibility: visible;
}
.burger-menu__nav-wrapper--active .burger-menu__nav {
  right: 0;
}
.burger-menu__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 24px;
}
.burger-menu__close {
  background: transparent;
  position: absolute;
  right: 16px;
  top: 16px;
  height: 13px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu__close:hover, .burger-menu__close:active, .burger-menu__close:focus-visible {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.burger-menu__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.burger-item__link {
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
  color: #F16D7F;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-item__link:hover, .burger-item__link:active, .burger-item__link:focus-visible {
  opacity: 0.5;
}
.burger-item__sub-list {
  display: -ms-grid;
  display: grid;
  gap: 11px;
  padding-left: 22px;
}
.burger-item__sub-link {
  color: #6f6e6e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-item__sub-link:hover, .burger-item__sub-link:active, .burger-item__sub-link:focus-visible {
  color: #F16D7F;
}
.burger-item__sub-link:hover svg, .burger-item__sub-link:active svg, .burger-item__sub-link:focus-visible svg {
  fill: #F16D7F;
}

.brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background: #F1E4E6;
  height: calc(100vh - 75px);
  overflow: hidden;
}
@media (max-width: 767px) {
  .brand {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.brand__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767px) {
  .brand__image {
    display: none;
  }
}
.brand__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 92px;
}
@media (max-width: 1152px) {
  .brand__wrapper {
    padding-left: 68px;
  }
}
@media (max-width: 767px) {
  .brand__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 27px;
  }
}
.brand__title {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  position: relative;
}
.brand__title:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 12px;
  background: #F16D7F;
  top: 0;
  left: -26px;
}
@media (max-width: 1152px) {
  .brand__title:before {
    height: 92px;
  }
}
@media (max-width: 767px) {
  .brand__title:before {
    height: 61px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.brand__text {
  color: #222222;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  text-transform: uppercase;
}
@media (max-width: 1152px) {
  .brand__text {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  .brand__text {
    font-size: 20px;
    line-height: 24px;
  }
}
.brand__text--big {
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
@media (max-width: 1152px) {
  .brand__text--big {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 767px) {
  .brand__text--big {
    font-size: 38px;
    line-height: 45px;
  }
}
.brand__text--pink {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  color: #F16D7F;
}

.stocks {
  padding: 64px 0;
}
@media (max-width: 1152px) {
  .stocks {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .stocks {
    padding: 64px 0;
  }
}
@media (max-width: 767px) {
  .stocks__container {
    padding: 0 16px;
  }
}
.stocks__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 260px 30px 180px;
  grid-template-rows: 260px 180px;
  gap: 30px;
}
.stocks__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.stocks__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.stocks__list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.stocks__list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.stocks__list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.stocks__list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
@media (max-width: 1152px) {
  .stocks__list {
    -ms-grid-rows: 168px 20px 116px;
    grid-template-rows: 168px 116px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .stocks__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 32px;
  }
  .stocks__list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.stocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .stocks__item {
    min-height: 247px;
  }
}
.stocks__item--women {
  background: url("../img/stocks-women.jpg") 50% 0/cover no-repeat;
}
.stocks__item--men {
  background: url("../img/stocks-men.jpg") 50% 0/cover no-repeat;
}
.stocks__item--kids {
  background: url("../img/stocks-kids.jpg") 50% 0/cover no-repeat;
}
.stocks__item--accesories {
  background: url("../img/stocks-accesories.jpg") 50% 0/cover no-repeat;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}
@media (max-width: 767px) {
  .stocks__item--accesories {
    min-height: 111px;
    -ms-grid-column-span: 2;
    grid-column-end: 2;
  }
}
.stocks__link {
  text-transform: uppercase;
  text-align: center;
}
.stocks__text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.stocks__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.fetured-items {
  padding: 33px 0 95.5px;
}
@media (max-width: 1152px) {
  .fetured-items {
    padding: 134px 0 65px;
  }
}
@media (max-width: 767px) {
  .fetured-items {
    padding: 0 0 96.5px;
  }
}
.fetured-items__container {
  display: -ms-grid;
  display: grid;
  gap: 48px;
}
@media (max-width: 1152px) {
  .fetured-items__container {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .fetured-items__container {
    gap: 41px;
  }
}
.fetured-items__header {
  display: -ms-grid;
  display: grid;
  gap: 6px;
  text-align: center;
}
@media (max-width: 1152px) {
  .fetured-items__header {
    gap: 3.3px;
    margin-bottom: 41px;
  }
}
@media (max-width: 767px) {
  .fetured-items__header {
    margin-bottom: 23px;
  }
}
.fetured-items__title {
  color: #222222;
  font-size: 30px;
  line-height: 1.2em;
}
.fetured-items__sub-title {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 1.2em;
}
.fetured-items__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1152px) {
  .fetured-items__list {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .fetured-items__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.fetured-items__link {
  font-size: 16px;
  line-height: 1.2em;
  color: #F26376;
  border: 1px solid #FF6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: center;
  padding: 0.9em 2.4em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.fetured-items__link:hover, .fetured-items__link:active, .fetured-items__link:focus-visible {
  background: #E05C6E;
}
.fetured-items__link:hover, .fetured-items__link:active, .fetured-items__link:focus-visible {
  color: #FFFFFF;
}

.product__img-wrapper {
  position: relative;
}
.product__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.product__wrapper {
  background: #F8F8F8;
  padding: 25px 16.5px 20px;
}
.product__name {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.2em;
  margin-bottom: 1em;
}
.product__description {
  color: #5D5D5D;
  font-weight: 300;
  margin-bottom: 1.4em;
}
.product__price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 1.2em;
}
.product__btn {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.product__btn:hover, .product__btn:active, .product__btn:focus-visible {
  opacity: 1;
}
.product__btn-wrapper {
  border: 1px solid #FFFFFF;
  min-height: 43px;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0 13px 0 16px;
}

.advantages {
  background: #222222;
  padding: 104px 0;
}
@media (max-width: 1152px) {
  .advantages {
    padding: 48px 0 64px;
  }
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1152px) {
  .advantages__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 360px;
    grid-template-columns: 360px;
    gap: 49px;
  }
}
.advantages__item {
  text-align: center;
  color: #F8F8F8;
}
.advantages__item svg {
  margin: 0 auto;
  min-height: 40px;
}
.advantages__title {
  font-size: 20px;
  line-height: 1.2em;
  margin-top: 1em;
}
.advantages__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  margin-top: 1.4em;
}

.subscribe {
  background: url("../img/subscribe-bckg.jpg") 0 0/cover no-repeat;
  position: relative;
}
.subscribe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe__container {
  z-index: 1;
  position: relative;
}
.subscribe__wrapper {
  min-height: 448px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: start;
}
@media (max-width: 1152px) {
  .subscribe__wrapper {
    min-height: unset;
    padding: 64px 0 140px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 78px;
  }
}
@media (max-width: 767px) {
  .subscribe__wrapper {
    padding: 64px 0 109px;
    gap: 59px;
  }
}
.subscribe__form-wrapper {
  width: 100%;
  color: #222222;
}
.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}
.subscribe__text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .subscribe__text {
    font-size: 14px;
    line-height: 21px;
  }
}
.subscribe__form {
  margin: 0 auto;
  max-width: 356px;
  min-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__input {
  width: 100%;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background: #e1e1e1;
  padding-left: 22px;
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2em;
  color: #9F9F9F;
}
.subscribe__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.2em;
  color: #9F9F9F;
}
.subscribe__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2em;
  color: #9F9F9F;
}
.subscribe__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2em;
  color: #9F9F9F;
}
.subscribe__input, .subscribe__input::placeholder {
  font-size: 14px;
  line-height: 1.2em;
  color: #9F9F9F;
}
.subscribe__btn {
  background: #F16D7F;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.subscribe__btn:hover, .subscribe__btn:active, .subscribe__btn:focus-visible {
  background: #E05C6E;
}

.comment {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  justify-items: center;
}
.comment__img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  -o-object-fit: none;
  object-fit: none;
}
.comment__text {
  font-style: italic;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  max-width: 360px;
}

.footer {
  background: #222222;
}
.footer__container {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1152px) {
  .footer__container {
    padding: 0 32px;
  }
}
@media (max-width: 767px) {
  .footer__container {
    padding: 0 16px 9px;
    min-height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__copyright {
  font-size: 16px;
  color: #F8F8F8;
  line-height: 1.2em;
}
@media (max-width: 767px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.footer__socials {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7.3px;
}
@media (max-width: 767px) {
  .footer__socials {
    padding: 40px 0;
  }
}
.footer__link {
  background: #ffffff;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__link:hover, .footer__link:active, .footer__link:focus-visible {
  background: #E05C6E;
}

.breadcrumbs {
  background: #F8F3F4;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumbs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .breadcrumbs__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.breadcrumbs__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2em;
  color: #F16D7F;
}
@media (max-width: 767px) {
  .breadcrumbs__title {
    margin-bottom: 32px;
  }
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.breadcrumbs__link {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.breadcrumbs__link:hover, .breadcrumbs__link:active, .breadcrumbs__link:focus-visible {
  color: #F16D7F;
}
.breadcrumbs__link:hover svg, .breadcrumbs__link:active svg, .breadcrumbs__link:focus-visible svg {
  fill: #F16D7F;
}
.breadcrumbs__link--active {
  font-weight: 700;
  color: #F16D7F;
  margin-right: 0;
}

.registration {
  padding: 64px 0 96px 0;
}
@media (max-width: 1152px) {
  .registration {
    padding: 40px 0 96px 0;
  }
}
.registration__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 128px 1fr;
  grid-template-columns: 360px 1fr;
  gap: 128px;
}
@media (max-width: 1152px) {
  .registration__container {
    gap: 23px;
  }
}
@media (max-width: 767px) {
  .registration__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.registration__form {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}
.registration__form-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 32px;
}
.registration__legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2em;
  color: #222222;
}
.registration__inp-wrapper {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
}
.registration__inp::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__inp::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__inp:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__inp::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__inp, .registration__inp::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__inp {
  border: 1px solid #A4A4A4;
  min-height: 45px;
  padding: 0 17px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.registration__inp:focus {
  border-color: #F16D7F;
}
.registration__checkboxes {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.registration__checkbox-text {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.registration__checkbox-text:before {
  content: "";
  border: 1px solid #A4A4A4;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.registration__checkbox-text span {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.2em;
}
.registration__checkbox input {
  display: none;
}
.registration__checkbox input:checked + .registration__checkbox-text:before {
  border-color: #F16D7F;
  background: #F16D7F;
}
.registration__subtext {
  color: #b1b1b1;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2em;
}
.registration__btn {
  padding: 0 29px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  line-height: 1.2em;
}
.registration__btn-wrapper {
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.registration__description {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
  gap: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em;
}
@media (max-width: 1152px) {
  .registration__description {
    font-size: 16px;
  }
}
.registration__title {
  text-transform: uppercase;
}
@media (max-width: 1152px) {
  .registration__title {
    margin-bottom: 10px;
  }
}
.registration__list {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  padding-left: 20px;
}
.registration__list li {
  padding-left: 23px;
}
.registration__list li::marker {
  content: url("../img/marker.svg");
}

.cart {
  padding: 96px 0 128px;
}
@media (max-width: 1152px) {
  .cart {
    padding: 59px 0 128px;
  }
}
@media (max-width: 767px) {
  .cart {
    padding: 40px 0 96px;
  }
}
.cart__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 128px 4fr;
  grid-template-columns: 8fr 4fr;
  gap: 128px;
}
@media (max-width: 1152px) {
  .cart__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 65px;
  }
}
@media (max-width: 767px) {
  .cart__container {
    gap: 48px;
  }
}
.cart__products {
  margin: 0 0 72px 0;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-flex-line-pack: start;
  align-content: start;
}
@media (max-width: 1152px) {
  .cart__products {
    margin: 0 0 62px 0;
  }
}
@media (max-width: 767px) {
  .cart__products {
    margin: 0 0 30px;
    gap: 32px;
  }
}
.cart__products-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1152px) {
  .cart__products-btns {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cart__products-btns {
    gap: 9px;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
}
.cart__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  background: transparent;
  min-height: 50px;
  padding: 0 40px;
  border: 1px solid #A4A4A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cart__btn:hover, .cart__btn:active, .cart__btn:focus-visible {
  background: #E05C6E;
}
.cart__btn:hover, .cart__btn:active, .cart__btn:focus-visible {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .cart__btn {
    text-transform: unset;
    width: 100%;
    min-height: 33px;
    text-align: center;
    padding: 0;
    font-size: 12px;
  }
}
.cart__btn--min {
  color: #A4A4A4;
  font-size: 11px;
  min-height: 35px;
  padding: 0 14px;
}
@media (max-width: 767px) {
  .cart__btn--min {
    padding: 0 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.cart__ordering {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
  gap: 57.5px;
}
@media (max-width: 1152px) {
  .cart__ordering {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
@media (max-width: 767px) {
  .cart__ordering {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 48px;
  }
}
.cart__shipping-form {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
  gap: 20px;
}
.cart__text-title {
  color: #222222;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.cart__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.cart__input::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.cart__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.cart__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.cart__input, .cart__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  color: #b1b1b1;
}
.cart__input {
  color: #222222;
  min-height: 44px;
  border: 1px solid #A4A4A4;
  width: 100%;
  padding: 0 0 0 17px;
}
.cart__input:focus {
  border-color: #F16D7F;
}
.cart__finally {
  background: #F5F3F3;
  padding: 42px;
}
@media (max-width: 1152px) {
  .cart__finally {
    margin-top: 38px;
  }
}
@media (max-width: 767px) {
  .cart__finally {
    margin-top: 0;
    padding: 39px 42px 42px;
  }
}
.cart__price-wrapper {
  padding: 0 0 20px;
  margin-bottom: 17px;
  border-bottom: 1px solid #E2E2E2;
  display: -ms-grid;
  display: grid;
  gap: 12px;
  -ms-flex-line-pack: start;
  align-content: start;
}
.cart__price {
  font-size: 11px;
  line-height: 1.2em;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 2.2em;
  text-transform: uppercase;
  margin-right: -3px;
}
.cart__price--grand {
  margin-right: 0;
  font-weight: 300;
  font-size: 16px;
}
.cart__price--grand span:last-child {
  font-weight: 700;
  color: #F16D7F;
}
.cart__final-button {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.cart-product img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.cart-product__wrapper {
  padding: 22px 22px 22px 31px;
}
@media (max-width: 767px) {
  .cart-product__wrapper {
    width: 100%;
    padding: 14px 12px 38px 17px;
  }
}
.cart-product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 42px;
}
@media (max-width: 767px) {
  .cart-product__header {
    margin-bottom: 26px;
  }
}
.cart-product__title {
  font-size: 24px;
  line-height: 1.2em;
  max-width: 262px;
  color: #222222;
}
@media (max-width: 767px) {
  .cart-product__title {
    font-size: 16px;
    max-width: 140px;
  }
}
.cart-product__close {
  background: transparent;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cart-product__close:hover, .cart-product__close:active, .cart-product__close:focus-visible {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .cart-product__close {
    width: 10px;
    height: 10px;
  }
  .cart-product__close svg {
    width: 10px;
    height: 10px;
  }
}
.cart-product__description {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
  gap: 6px;
}
@media (max-width: 767px) {
  .cart-product__description {
    gap: 4px;
  }
}
.cart-product__text {
  font-size: 22px;
  line-height: 1.2em;
  color: #575757;
}
@media (max-width: 767px) {
  .cart-product__text {
    font-size: 14px;
  }
}
.cart-product__text--red {
  color: #F16D7F;
}
.cart-product__inp {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  color: #656565;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0 16px;
  margin-left: 24px;
  width: 44px;
}
.cart-product__inp:focus {
  border-color: #F16D7F;
}
@media (max-width: 767px) {
  .cart-product__inp {
    font-size: 10px;
    padding: 0 7px;
    width: 24px;
    margin-left: 15px;
  }
}

.main-product .swiper-container {
  width: 100%;
  background: #F7F7F7;
  position: relative;
  border: 1px solid #EAEAEA;
}
.main-product .swiper-wrapper {
  padding: 11px 0 42px;
}
@media (max-width: 1152px) {
  .main-product .swiper-wrapper {
    padding: 29px 0 29px;
  }
}
@media (max-width: 767px) {
  .main-product .swiper-wrapper {
    padding: 85px 0 85px;
  }
}
.main-product .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main-product .swiper-button {
  cursor: pointer;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-product .swiper-button svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-product .swiper-button:hover svg path, .main-product .swiper-button:active svg path, .main-product .swiper-button:focus-visible svg path {
  fill: #F16D7F;
}
.main-product .swiper-button-prev {
  left: 0;
}
.main-product .swiper-button-next {
  right: 0;
}
.main-product__container {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1152px) {
  .main-product__container {
    margin-top: 0;
  }
}
.main-product__description {
  width: 641px;
  padding-bottom: 65px;
  border-bottom: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-product__description {
    border-bottom: none;
    width: 100%;
    padding: 0 25px 32px;
    position: relative;
  }
  .main-product__description:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 175px;
    height: 1px;
    background: #EAEAEA;
  }
}
.main-product__colection {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  color: #F16D7F;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.main-product__colection:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 63px;
  height: 3px;
  background: #EF5B70;
}
.main-product__name {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .main-product__name {
    margin-bottom: 32px;
  }
}
.main-product__text {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 33px;
  max-width: 555px;
}
.main-product__price {
  color: #EF5B70;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em;
}
.main-product__form {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-product__form {
    padding-top: 50px;
  }
}
.main-product__selects-wrapper {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 23px;
  margin-bottom: 49px;
}
@media (max-width: 767px) {
  .main-product__selects-wrapper {
    gap: 25px;
    margin-bottom: 65px;
  }
}
.main-product__btn {
  color: #F26376;
  border: 1px solid #FF6A6A;
  min-height: 48px;
  padding: 0 56.5px 0 23.5px;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-product__btn:hover, .main-product__btn:active, .main-product__btn:focus-visible {
  color: #FFFFFF;
}
.main-product__btn:hover, .main-product__btn:active, .main-product__btn:focus-visible {
  background: #E05C6E;
}
.main-product__btn svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-product__btn:hover svg path, .main-product__btn:active svg path, .main-product__btn:focus-visible svg path {
  fill: #ffffff;
}
.main-product__btn-wrapper {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  font-size: 16px;
  line-height: 1.2em;
  gap: 23px;
}

.popular-products {
  padding: 128px 0;
}
@media (max-width: 767px) {
  .popular-products {
    padding: 65px 0;
  }
}
.popular-products__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1152px) {
  .popular-products__container {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .popular-products__container .product:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .popular-products__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.catalog {
  padding-bottom: 96px;
}
@media (max-width: 1152px) {
  .catalog {
    padding-bottom: 63px;
  }
}
.catalog__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  padding: 38px 0 50px;
}
@media (max-width: 1152px) {
  .catalog__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 11px 0 27px;
  }
}
@media (max-width: 767px) {
  .catalog__header {
    padding: 11px 0 19px;
  }
}
.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 0 48.5px;
}
@media (max-width: 1152px) {
  .catalog__list {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 0 40px;
  }
}
@media (max-width: 767px) {
  .catalog__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.filter {
  background: #FFFFFF;
  position: relative;
}
.filter__header {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;
  text-align: start;
  position: relative;
  padding: 13px 16px 16px;
  z-index: 2;
  background: inherit;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.filter__header:hover, .filter__header:active, .filter__header:focus-visible {
  color: #F16D7F;
}
.filter__header:hover svg, .filter__header:active svg, .filter__header:focus-visible svg {
  fill: #F16D7F;
}
.filter__header svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 11px;
}
@media (max-width: 767px) {
  .filter__header svg {
    margin: 0;
    width: 37.5px;
    height: 25px;
  }
}
@media (max-width: 767px) {
  .filter__header span {
    display: none;
  }
}
.filter__main {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: inherit;
  z-index: 1;
  padding: 16px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .filter__main {
    width: 100vw;
    left: -8px;
  }
}
.filter__block:not(:last-child) {
  margin-bottom: 18px;
}
.filter__title-block {
  width: 100%;
  text-align: start;
  background: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  color: #6f6e6e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 11px 16px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}
.filter__title-block:hover, .filter__title-block:active, .filter__title-block:focus-visible {
  color: #F16D7F;
}
.filter__title-block:hover svg, .filter__title-block:active svg, .filter__title-block:focus-visible svg {
  fill: #F16D7F;
}
.filter__title-block--active {
  color: #F16D7F;
}
.filter__title-block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% + 1px);
  width: 5px;
  background: #EF5B70;
}
.filter__list {
  padding: 25px 16px 6px;
  display: none;
}
.filter__item {
  font-size: 14px;
  line-height: 1.2em;
}
.filter__item button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: transparent;
}
.filter__item button:hover, .filter__item button:active, .filter__item button:focus-visible {
  color: #F16D7F;
}
.filter__item button:hover svg, .filter__item button:active svg, .filter__item button:focus-visible svg {
  fill: #F16D7F;
}
.filter__item:not(:last-child) {
  margin-bottom: 11px;
}
.filter--active {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter--active .filter__header {
  color: #F16D7F;
  width: 100%;
}
.filter--active .filter__header svg {
  fill: #F16D7F;
}
.filter--active .filter__main {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  opacity: 1;
  visibility: visible;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filters__filter {
  position: relative;
}
.filters__filter:not(:last-child) {
  margin-right: 28px;
}
@media (max-width: 767px) {
  .filters__filter:not(:last-child) {
    margin-right: 23px;
  }
}
.filters__header {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  color: #6F6E6E;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.filters__header:hover, .filters__header:active, .filters__header:focus-visible {
  color: #F16D7F;
}
.filters__header:hover svg, .filters__header:active svg, .filters__header:focus-visible svg {
  fill: #F16D7F;
}
.filters__header svg {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .filters__header svg {
    margin-left: 9px;
  }
}
@media (max-width: 767px) {
  .filters__header {
    font-size: 12px;
  }
}
.filters__list {
  position: absolute;
  left: -6px;
  top: calc(100% + 5px);
  min-width: 79px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  padding: 9px;
}
.filters__list--active {
  visibility: visible;
  opacity: 1;
}
.filters__item:not(:last-child) {
  margin-bottom: 9px;
}

.pagenavigation {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.pagenavigation__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pagenavigation__arrow svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pagenavigation__arrow:hover svg path, .pagenavigation__arrow:active svg path, .pagenavigation__arrow:focus-visible svg path {
  fill: #F16D7F;
}
.pagenavigation__main {
  padding: 0 17px;
}
.pagenavigation__page {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2em;
  color: #A4A4A4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.pagenavigation__page:hover, .pagenavigation__page:active, .pagenavigation__page:focus-visible {
  color: #F16D7F;
}
.pagenavigation__page:hover svg, .pagenavigation__page:active svg, .pagenavigation__page:focus-visible svg {
  fill: #F16D7F;
}
.pagenavigation__page:not(:nth-last-child(-n+3)) {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
