body {
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  background-color: #ffffff;
  font-family: $fontFamily;
  &.lock {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  background: $pink;
  min-height: 50px;
  @include flex-center;
  color: #ffffff;
  text-transform: uppercase;
  transition: $transition;
  @include hover-pink-btn;
}

input{
  &::placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
  }

  &:focus {
    &::placeholder {
      text-indent: 500px;
    }
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: $maxWidthContainer / $maxWidth * 100%;
  margin: 0 auto;
  @include tablet {
    width: 100%;
    padding: 0 16px;
  }
  @include mobile {
    padding: 0 8px;
  }
}

.page {
  flex: 1 1 auto;
}

.checkbox {
  cursor: pointer;

  input {
    display: none;
    &:checked + .checkbox__checkbox-text:before {
      border-color: $pink;
      background: $pink;
    }
  }

  &__checkbox-text {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 9px;
    align-items: center;

    &:before {
      content: '';
      border: 1px solid #EBEBEB;
      width: 12px;
      height: 12px;
      background: #ffffff;
      transition: $transition;
    }

    span {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.2em;
      color: #6F6E6E;
    }
  }
}


.swiper-container {
  overflow: hidden;
  //.swiper-wrapper
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative;
  }
  &.swiper-container-vertical {
    .swiper-wrapper {
      flex-direction: column;
    }
  }
  &.swiper-container-autoheight {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }
}
.swiper-container-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}
.swiper-container-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}

//<SELECT>====================================================================================================
.select {
  position: relative;
  // .select__item
  &__item {
    position: relative;
  }
  // .select__title
  &__title {
    color: #6F6E6E;
    background-color: #fff;
    cursor: pointer;
  }
  // .select__value
  &__value {
    display: flex;
    font-size: 14px;
    line-height: 1.2em;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    @include mobile {
      font-size: 10px;
    }
    &:before {
      margin-left: 9px;
      content: "";
      display: inline-block;
      transition: all 0.3s ease 0s;
      width: 10px;
      height: 5px;
      background: url("../img/select.svg") center / 100% no-repeat;
    }
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    color: #000;
    display: none;
    position: absolute;
    top: 18px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    font-size: 14px;
    padding: 10px 0px 5px 0px;
  }
  // .select__option
  &__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
    @media (min-width: 992px) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }
  &._active {
    z-index: 5;
    .select__value {
      &:before {
        transform: rotate(-180deg);
      }
    }
    .select__options {
      display: block;
    }
  }
}
//</SELECT>====================================================================================================
