$fontFamily: 'Lato', sans-serif;

$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 767;

$mainBlack: #222222;
$gray: #9F9F9F;
$gray2: #F8F8F8;
$gray3: #5D5D5D;
$gray4: #e1e1e1;
$gray5: #b1b1b1;
$gray6: #6f6e6e;
$gray7: #A4A4A4;
$lightGray: #E8E8E8;
$pink: #F16D7F;
$pink2: #F26376;
$pink3: #FF6A6A;
$pinkBtn: #E05C6E;
$lightPink: #F1E4E6;
$lightPink2: #F8F3F4;
$transition: all .3s ease 0s;
