
//<Подключаем шрифты>=======================================================================================
@import "_fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Lato', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 767.98;

$mainBlack: #222222;
$gray: #9F9F9F;
$gray2: #F8F8F8;
$gray3: #5D5D5D;
$gray4: #e1e1e1;
$lightGray: #E8E8E8;
$pink: #F16D7F;
$pink2: #F26376;
$pink3: #FF6A6A;
$lightPink: #F1E4E6;
$transition: all .3s ease 0s;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";
body {
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
  background-color: #ffffff;
  font-family: $fontFamily;
  &.lock {
    overflow: hidden;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================


//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: none;
    padding: 0 16px;
  }
  @media (max-width: $md2+px) {
    padding: 0 8px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
//====================================================================================================
@import "header";
@import "burger-menu";
@import "brand";
@import "stocks";
@import "fetured-items";
@import "product";
@import "advantages";
@import "subscribe";
@import "comment";
@import "footer";
