.header {
  background: $mainBlack;
  min-height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  &__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 40px;
    @include tablet {
      padding: 0 32px;
    }
    @include mobile {
      padding: 0 16px;
    }
  }

  &__search {
    display: flex;
    align-items: stretch;
  }

  &__btn {
    background: transparent;
    @include svg-hover-pink;
  }

  &__input {
    transition: $transition;
    transform: scaleX(0);
    margin-left: 10px;
    padding: 0 10px;
    @include mobile {
      max-width: 145px;
    }
    &--active {
      transform: scaleX(1);
    }
  }

  &__links {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 34px;
  }

  &__link {
    @include svg-hover-pink;
    @include mobile {
      display: none;
    }
  }

  &__link--cart {
    position: relative;
    span {
      position: absolute;
      top: -6px;
      right: -9px;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: $pink;
      @include inline-flex-center;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
