.stocks {
  padding: 64px 0;
  @include tablet {
    padding: 20px 0;
  }
  @include mobile {
    padding: 64px 0;
  }

  &__container {
    @include mobile {
      padding: 0 16px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    @include tablet {
      grid-template-rows: 168px 116px;
      gap: 20px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 32px;
    }
  }

  &__item {
    @include flex-center;
    @include mobile {
      min-height: 247px;
    }
    &--women {
      background: url("../img/stocks-women.jpg") 50% 0/cover no-repeat;
    }

    &--men {
      background: url("../img/stocks-men.jpg") 50% 0/cover no-repeat;
    }

    &--kids {
      background: url("../img/stocks-kids.jpg") 50% 0/cover no-repeat;
    }

    &--accesories {
      background: url("../img/stocks-accesories.jpg") 50% 0/cover no-repeat;
      grid-column-start: 1;
      grid-column-end: 4;
      @include mobile {
        min-height: 111px;
        grid-column-end: 2;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $pink;
  }
}

